@model YourMail.Models.SpamMeil

@{
    ViewBag.Title = "Spam mail";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Write spam mail:</legend>
            <ul>
                <li>
                    @Html.LabelFor(x => x.ToWhomMail, "Mail")
                    <br />
                    @Html.TextBoxFor(x => x.ToWhomMail)
                    @Html.ValidationMessageFor(x=>x.ToWhomMail)
                </li>
            </ul>
            <input type="submit" value="Send" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}