@model  YourMail.Models.Letter

@{
    ViewBag.Title = "New letter";
    var letter = Model;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section>
    @using (Html.BeginForm("New_letter", "Message", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>New Letter</legend>
            <ol>
                <li>
                    @Html.LabelFor(x => x.FromWhom)
                    @Html.Label("From Whom", ": " + User.Identity.Name)
                </li>
                <li>
                    @Html.LabelFor(x => x.ToWhom, "To whom")<br />
                    @Html.TextBoxFor(x => x.ToWhom, letter.ToWhom)
                    @Html.ValidationMessageFor(x => x.ToWhom)
                </li>
                <li>
                    @Html.LabelFor(x => x.Subject)<br />
                    @Html.TextBoxFor(x => x.Subject)
                    @Html.ValidationMessageFor(x => x.Subject)
                </li>
                <li>
                    @Html.LabelFor(x => x.Content)<br />
                    @Html.TextAreaFor(x => x.Content, letter.Content)
                </li>
            </ol>
            @if (letter.FileName != null)
            {
                @Html.ActionLink(letter.FileName, "DownloadFile", "Message", routeValues: new { letterId = letter.Id }, htmlAttributes: new { @id = "fileEXist" });
                @Html.TextBoxFor(x => x.FileName, htmlAttributes: new { @id = "fileName", hidden = "hidden" });
                @Html.TextBoxFor(x => x.FilePuth, htmlAttributes: new { @id = "filePuth", hidden = "hidden" });
                @Html.TextBoxFor(x => x.FileType, htmlAttributes: new { @id = "fileType", hidden = "hidden" });
                <input type="button" value="Change file" id="button"/>
                <input type="file" name="upload"  hidden="hidden" id="file"/><br />
            }
            else
            {
                <input type="file" name="upload"  /><br />
            }
            <input type="submit" value="Send" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="jquery-1.8.1.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#button").on("click", function ()
        {
            $("#fileEXist").remove();
            $("#button").remove();
            $("fileName").remove();
            $("filePuth").remove();
            $("fileType").remove();
            $("#file").removeAttr("hidden");
        });
    });
</script>