@model IEnumerable<YourMail.Interfaces.ITypesOfLetter>
@using YourMail.Infrastructure;

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>


<section id="wrapper">
    <input type="checkbox" id="Check123" />
    <input type="button" id="SendIdLettersForDelete" value="Send Letter for delete" />
    <div id="table">
        @Html.MyGrid(Model, ViewBag.NamberOfPeage as string)
    </div>
</section>

@section Scripts {
<script type="text/javascript">

        var numberOfPage = 1;

        $(function () {

            function setForOpen() {
                $(".Open").click(function () {
                    location.href="@Url.Action("OpenLetter", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType} )"+"&letterId="+$(this).attr("name");
                });
            }

            function setForDelete() {
                $(".Delete").click(function () {
                    location.href="@Url.Action("DeleteLetter", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType})" + "&NamberOfPeage=" + numberOfPage + "&letterId=" + $(this).attr("name");
                });
            }

            function stileForDontRead() {
                $(".IsRead").each(function () {
                    if ($(this).attr("name") === "False") {
                        $(this).closest("tr").css({ "border-color": "#008a77", "border-style": "solid" });
                    }
                });
            }

            function setForCheckedAnCheked(){
                $("#Check123").change(function () {
                    var checkUnchek = $(this).prop("checked");
                    $(".CheckForDelete").prop("checked", checkUnchek);
                });
            }

            function sendLetterForDelete()
            {
                $("#SendIdLettersForDelete").on("click", function ()
                {
                    var data = { arrayIdOfLetters: {} };
                    var caunter = 0;
                    $(".CheckForDelete").each(function () {
                        if ($(this).prop("checked") === true) {
                            data.arrayIdOfLetters[caunter] = $(this).attr("name");
                            caunter++;
                        }

                    });
                    if (data.arrayIdOfLetters[0] != null)
                    {
                        $.ajax({
                             url: "@Url.Action("DeleteAllSelected", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType })" + "&NamberOfPeage=" + numberOfPage,
                             type: "POST",
                             data: data,
                             success: function (result){
                                  var a = result;
                                  var wraperTable = $("#table");
                                  wraperTable.empty();
                                  wraperTable.html(result);

                                  setIventOnPages();
                                  sendLetterForDelete();
                                  setForCheckedAnCheked();
                                  stileForDontRead();
                                  setForDelete();
                                  setForOpen();
                             },
                        });
                    }
                   
                });
            }

            function setIventOnPages() {
                $(".NubmerOfPage").on("click", function () {
                    numberOfPage = $(this).text();
                    $.ajax({
                        url: "@Url.Action("ChangePage", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType })" + "&NamberOfPeage=" + $(this).text(),
                        type: "GET",
                        success: function (result) {
                            var a = result;
                            var wraperTable = $("#table");
                            wraperTable.empty();
                            wraperTable.html(result);

                            setIventOnPages();
                            sendLetterForDelete();
                            setForCheckedAnCheked();
                            stileForDontRead();
                            setForDelete();
                            setForOpen();
                        },
                    });
                });
            }

            setIventOnPages();
            sendLetterForDelete();
            setForCheckedAnCheked();
            stileForDontRead();
            setForDelete();
            setForOpen();
        });
</script>
}
