@{
    var grid = new WebGrid(Model);
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

      <fieldset>
        @grid.GetHtml(columns: grid.Columns(
              grid.Column(columnName: "Active"),
              grid.Column(columnName: "Date", header: "Date"),
              grid.Column(columnName: "ToOrFromWhomMail", header: "To whom"),
              grid.Column(columnName: "Subject", header: "Subject"),
              grid.Column(format: @<form method="post" action="~/Controllers/OpenLetter"><input type="hidden" name="id" value="@item.Id" /><input type="submit" value="Open" /></form>),
              grid.Column(format: @<form method="post" action="~/Controllers/DoleteOneLetter"><input type="hidden" name="id" value="@item.Id" /><input type="submit" value="Delete" /></form>)))
        <input type="submit" value="Delete all selected"  />
      </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}