@model IEnumerable<YourMail.Interfaces.ITypesOfLetter>
@using YourMail.Infrastructure;

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>


<section id="wrapper">
    <input type="checkbox" id="Check123" />
    <input type="button" id="SendIdLettersForDelete" value="Send Letter for delete" />
    <div id="table">
        @Html.MyGrid(Model, ViewBag.NamberOfPeage as string)
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $(".Open").click(function () {
                location.href="@Url.Action("OpenLetter", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType} )"+"&letterId="+$(this).attr("name");
            });

            $(".Delete").click(function () {
                location.href="@Url.Action("DeleteLetter", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType, namberOfPeage = ViewBag.NamberOfPeage } )"+"&letterId="+$(this).attr("name");
            });

            stileForDontRead();
            function stileForDontRead() {
                $(".IsRead").each(function () {
                    if ($(this).attr("name") === "False") {
                        $(this).closest("tr").css({ "border-color": "#008a77", "border-style": "solid" });
                    }
                });
            }

            $("#Check123").change(function () {
                var checkUnchek = $(this).prop("checked");
                $(".CheckForDelete").prop("checked", checkUnchek);
            });
            var arrayIdOfLetters = new Array();
            $("#SendIdLettersForDelete").on("click", function () {
                $(".CheckForDelete").each(function () {
                    if ($(this).prop("checked") === true) {
                        var idLetterForDelete = $(this).attr("name");
                        arrayIdOfLetters.push(idLetterForDelete);
                    }
                });
                $.ajax({
                    url: "@Url.Action("DeleteAllSelected", "Message", routeValues: new { numberOfType = ViewBag.NumberOfType, namberOfPeage=ViewBag.NamberOfPeage })",
                    type: "POST",
                    data: JSON.stringify(arrayIdOfLetters),
                    success: function (result) {
                        var a = result;
                            var wraperTable = $("#table");
                            wraperTable.empty();
                        wraperTable.html(result);
                    },
                    error: function () {
                        //$("#articleContent").text(response);
                        alert("error:");
                    },
                });
            });
        });
    </script>
}
